<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">>

<head>
  <title>CONFIRMATION</title>
</head>

<body>
  <div class="container" layout:fragment="content">
    <div class="card">
      <div class="card-header bg-secondary bg-gradient bg-opacity-25 text-center h3">
        CONFIRMATION
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="form-group">
              <label for="id" class="form-label h5">ID :</label>
              <input type="text" name="id" id="id" class="form-control" th:value="${produit.id}" disabled />
            </div>
            <div class="form-group mb-3">
              <label for="designation" class="form-label h5">Désignation :</label>
              <input type="text" name="designation" id="designation" class="form-control"
                th:value="${produit.designation}" disabled />
            </div>
            <div class="form-group mb-3">
              <label for="prix" class="form-label h5">Prix :</label>
              <input type="number" name="prix" id="prix" class="form-control" th:value="${produit.prix}" disabled />
            </div>
            <div class="form-group mb-3">
              <label for="quantite" class="form-label h5">Quantité :</label>
              <input type="number" name="quantite" id="quantite" class="form-control" th:value="${produit.quantite}"
                disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>